MVP_POSTGRES_DB=NOME_BANCO
MVP_DB_USERNAME=USUARIO_BANCO
MVP_DB_PASSWORD=SENHA_USUARIO_BANCO
MVP_DB_PORT=PORTA_BANCO

MVP_API_PORT=PORTA_API
MVP_SERVER_PORT=PORTA_SERVIDOR

MVP_JWT_SECRET=TOKEN_SECRET
MVP_GOOGLE_CLIENT_ID=
MVP_GOOGLE_CLIENT_SECRET=
